name: Pull request validations

on: [pull_request]

jobs:
  lint:
    name: Run TS Project lint and prettier
    runs-on: ubuntu-latest

    steps:
      - name: Check out TS Project Git repository
        uses: actions/checkout@v5

      - name: Initialize npm environment
        uses: ./.github/actions/init-npm
        with:
          skip-build: true

      - name: Run TS Project linters
        run: npm run lint
  tests:
    name: Run Tests
    
    strategy:
      matrix:
        node: [20.x, 22.x, 24.x]
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out TS Project Git repository
        uses: actions/checkout@v5
        
      - name: Init nodejs
        uses: ./.github/actions/init-npm
        with:
          node-version: ${{ matrix.node }}

      - name: Run tests
        run: npm run test

  upload_package:
    needs: [lint]
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Check out TS Project Git repository
        uses: actions/checkout@v5
      - name: Initialize npm environment
        uses: ./.github/actions/init-npm
      - name: Pack the package
        run: npm pack
      - name: get properties
        id: json_properties
        uses: ActionsTools/read-json-action@main
        with:
          file_path: 'package.json'
      - uses: azure/CLI@v2
        env:
          AZURE_STORAGE_SAS_TOKEN: ${{ secrets.SAS_TOKEN }}
        with:
          inlineScript: |
            az storage blob upload --name config-$GITHUB_SHA.tgz --account-name ghatmpstorage --container-name=npm-packages --file map-colonies-config-${{steps.json_properties.outputs.version}}.tgz
      - name: Comment on PR
        uses: thollander/actions-comment-pull-request@v3
        with:
          message: |
            Hi it is me, your friendly bot helper! :wave:
            I've packed this commit for you :blush:
            You can install it like this:
            ```json
            {
              "dependencies": {
                  "@map-colonies/config": "https://ghatmpstorage.blob.core.windows.net/npm-packages/config-${{ github.sha }}.tgz"
              }
            }
            ```
            The link will expire in a week :hourglass:
